body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

canvas {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px #777;
  image-rendering: pixelated;
}

div {
  position: absolute;
  top: 230px;
  left: 160px;
  width: 200px;
  height: 70px;
  border: 5px solid black;
  box-shadow: 5px 5px #777;
  background-color: white;
  text-align: center;
  font-size: 30px;
  z-index: 1000;
}
